@import 'title.css';
@import 'transaction-table.css';
@import 'transaction-table-header.css';
@import 'transaction-table-item.css';
@import 'transaction-loader.css';
@import 'error-message.css';

body {
    margin: 0;
    background-size: cover;
    background-color: #EFEDE8;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.muted-text {
    color: grey;
}