.transaction-table-item-row td {
    padding: 8px;
}

.transaction-table-item-row td:not(.amount):not(.no-transactions) {
    text-align: left;
}

.transaction-table-item-row td.amount {
    text-align: right;
}

.transaction-table-item-row td.no-transactions {
    text-align: center;
}

.transaction-table-item-row:hover,
.transaction-table-item-row:hover .muted-text, 
.transaction-table-item-row.hover .muted-text { 
    color: #098B8C;
}
